<!DOCTYPE html>
<html>
    <head>
      <title> My Budget </title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color:white;
        }
        .shift {
            margin-left: 65px;
        }
        .table {
          border: 1px solid #dddddd;
        }   
        .text-right
        {
            text-align: right !important;
        }   
    </style>
    <body>
      <div class="container">        
        <nav class="navbar fixed-bottom navbar-light bg-light">
          <a href="/addexpense" class="btn btn-secondary btn-lg btn-block" role="button">+</a>
        </nav>
      </div>
        <div class="container">         
            <h2> <%=month%> <%=year%> </h2>
            <div >
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <form align="right" action="/home" method="get">
                      <input class="btn btn-outline-secondary btn-sm" type="submit" value="Home">
                    </form>
                    <form align="right" action="/showbudget" method="post">
                     <button class="btn btn-outline-secondary btn-sm" name="menu" type="submit" value="planned">Planned</button>
                    </form>

                    <form align="right" action="/showbudget" method="post">
                     <button class="btn btn-outline-secondary btn-sm" name="menu" type="submit" value="spent">Spent</button>
                    </form>

                    <form align="right" action="/showbudget" method="post">
                     <button class="btn btn-outline-secondary btn-sm" name="menu" type="submit" value="remaining">Remaining</button>
                    </form>                            
                  </div>
                </div>
            </div>  
            <br/>           
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th colspan="2">Income</th>
                  <th class="text-right">Planned</th>

                </tr>
              </thead>
              <tbody>
                <% income.forEach( (income) => { %>
                    <tr>
                        <td colspan="2"><%=income.label%></td>
                        <td class="text-right"><%=income.amount%></td>
                    </tr>
                <% }); %>
              </tbody>
            </table>
            <% if (incomeBtn) {%>
              <form action='/additem' method='post'>            
                <div class="form-group">
                  <label class="col-md-4 control-label" for="submit"></label>
                  <div class="col-md-8">
                    <div id="incomeRow" class="row">
                        <div class="col">
                            <label>Label:</label> <input type="text" id="label" placeholder="Enter Label" class="form-control" name="labelIncome">
                        </div>
                        <div class="col">
                          <label>Amount:</label> <input min = "0.00" step="0.01" value="0.00" type="number" id="amount" placeholder="Enter Amount" class="form-control" name="amountIncome">
                        </div>
                      </div>                  
                    <button id="submit" name="submit" class="btn btn-primary" value="submit">Submit</button>
                    <button id="submit" name="submit" class="btn btn-secondary" value="cancel">Cancel</button>
                  </div>
                </div> 
              </form>
            <% } %> 
            <% if (!incomeBtn) { %>             
              <form align="right" action="/editbudget" method="post">
                   <button class="btn btn-info btn-sm" name="addItemBtn" type="submit" value="income">Add Item</button>
              </form><br>  
            <% } %>                
            <br/>
            <br/>
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th colspan="2">Giving</th>
                  <th class="text-right">Planned</th>

                </tr>
              </thead>
              <tbody>
                <% giving.forEach( (giving) => { %>
                    <tr>
                        <td colspan="2"><%=giving.label%></td>
                        <td class="text-right"><%=giving.amount%></td>
                    </tr>
                <% }); %>
              </tbody>
            </table>
            <% if (givingBtn) {%>
              <form action='/additem' method='post'>            
                <div class="form-group">
                  <label class="col-md-4 control-label" for="submit"></label>
                  <div class="col-md-8">
                    <div id="incomeRow" class="row">
                        <div class="col">
                            <label>Label:</label> <input type="text" id="label" placeholder="Enter Label" class="form-control" name="labelGiving">
                        </div>
                        <div class="col">
                          <label>Amount:</label> <input min = "0.00" step="0.01" value="0.00" type="number" id="amount" placeholder="Enter Amount" class="form-control" name="amountGiving">
                        </div>
                      </div>                  
                    <button id="submit" name="submit" class="btn btn-primary" value="submit">Submit</button>
                    <button id="submit" name="submit" class="btn btn-secondary" value="cancel">Cancel</button>
                  </div>
                </div> 
              </form>
            <% } %> 
            <% if (!givingBtn) { %>             
              <form align="right" action="/editbudget" method="post">
                   <button class="btn btn-info btn-sm" name="addItemBtn" type="submit" value="giving">Add Item</button>
              </form><br>  
            <% } %>           
            <br/>
            <br/>
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th colspan="2">Savings</th>
                  <th class="text-right">Planned</th>

                </tr>
              </thead>
              <tbody>
                <% savings.forEach( (savings) => { %>
                    <tr>
                        <td colspan="2"><%=savings.label%></td>
                        <td class="text-right"><%=savings.amount%></td>
                    </tr>
                <% }); %>
              </tbody>
            </table>
           <% if (savingsBtn) {%>
              <form action='/additem' method='post'>            
                <div class="form-group">
                  <label class="col-md-4 control-label" for="submit"></label>
                  <div class="col-md-8">
                    <div id="incomeRow" class="row">
                        <div class="col">
                            <label>Label:</label> <input type="text" id="label" placeholder="Enter Label" class="form-control" name="labelSavings">
                        </div>
                        <div class="col">
                          <label>Amount:</label> <input min = "0.00" step="0.01" value="0.00" type="number" id="amount" placeholder="Enter Amount" class="form-control" name="amountSavings">
                        </div>
                      </div>                  
                    <button id="submit" name="submit" class="btn btn-primary" value="submit">Submit</button>
                    <button id="submit" name="submit" class="btn btn-secondary" value="cancel">Cancel</button>
                  </div>
                </div> 
              </form>
            <% } %> 
            <% if (!savingsBtn) { %>             
              <form align="right" action="/editbudget" method="post">
                   <button class="btn btn-info btn-sm" name="addItemBtn" type="submit" value="savings">Add Item</button>
              </form><br>  
            <% } %>                         
            <br/>
            <br/>
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th colspan="2">Housing</th>
                  <th class="text-right">Planned</th>

                </tr>
              </thead>
              <tbody>
                <% housing.forEach( (housing) => { %>
                    <tr>
                        <td colspan="2"><%=housing.label%></td>
                        <td class="text-right"><%=housing.amount%></td>
                    </tr>
                <% }); %>
              </tbody>
            </table>
           <% if (housingBtn) {%>
              <form action='/additem' method='post'>            
                <div class="form-group">
                  <label class="col-md-4 control-label" for="submit"></label>
                  <div class="col-md-8">
                    <div id="incomeRow" class="row">
                        <div class="col">
                            <label>Label:</label> <input type="text" id="label" placeholder="Enter Label" class="form-control" name="labelHousing">
                        </div>
                        <div class="col">
                          <label>Amount:</label> <input min = "0.00" step="0.01" value="0.00" type="number" id="amount" placeholder="Enter Amount" class="form-control" name="amountHousing">
                        </div>
                      </div>                  
                    <button id="submit" name="submit" class="btn btn-primary" value="submit">Submit</button>
                    <button id="submit" name="submit" class="btn btn-secondary" value="cancel">Cancel</button>
                  </div>
                </div> 
              </form>
            <% } %> 
            <% if (!housingBtn) { %>             
              <form align="right" action="/editbudget" method="post">
                   <button class="btn btn-info btn-sm" name="addItemBtn" type="submit" value="housing">Add Item</button>
              </form><br>  
            <% } %>  
            <br/>
            <br/>
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th colspan="2">Transportation</th>
                  <th class="text-right">Planned</th>

                </tr>
              </thead>
              <tbody>
                <% transportation.forEach( (transportation) => { %>
                    <tr>
                        <td colspan="2"><%=transportation.label%></td>
                        <td class="text-right"><%=transportation.amount%></td>
                    </tr>
                <% }); %>
              </tbody>
            </table>
           <% if (transportationBtn) {%>
              <form action='/additem' method='post'>            
                <div class="form-group">
                  <label class="col-md-4 control-label" for="submit"></label>
                  <div class="col-md-8">
                    <div id="incomeRow" class="row">
                        <div class="col">
                            <label>Label:</label> <input type="text" id="label" placeholder="Enter Label" class="form-control" name="labelTransportation">
                        </div>
                        <div class="col">
                          <label>Amount:</label> <input min = "0.00" step="0.01" value="0.00" type="number" id="amount" placeholder="Enter Amount" class="form-control" name="amountTransportation">
                        </div>
                      </div>                  
                    <button id="submit" name="submit" class="btn btn-primary" value="submit">Submit</button>
                    <button id="submit" name="submit" class="btn btn-secondary" value="cancel">Cancel</button>
                  </div>
                </div> 
              </form>
            <% } %> 
            <% if (!transportationBtn) { %>             
              <form align="right" action="/editbudget" method="post">
                   <button class="btn btn-info btn-sm" name="addItemBtn" type="submit" value="transportation">Add Item</button>
              </form><br>  
            <% } %>
            <br/>
            <br/>
             <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th colspan="2">Food</th>
                  <th class="text-right">Planned</th>

                </tr>
              </thead>
              <tbody>
                <% food.forEach( (food) => { %>
                    <tr>
                        <td colspan="2"><%=food.label%></td>
                        <td class="text-right"><%=food.amount%></td>
                    </tr>
                <% }); %>
              </tbody>
            </table>
           <% if (foodBtn) {%>
              <form action='/additem' method='post'>            
                <div class="form-group">
                  <label class="col-md-4 control-label" for="submit"></label>
                  <div class="col-md-8">
                    <div id="incomeRow" class="row">
                        <div class="col">
                            <label>Label:</label> <input type="text" id="label" placeholder="Enter Label" class="form-control" name="labelFood">
                        </div>
                        <div class="col">
                          <label>Amount:</label> <input min = "0.00" step="0.01" value="0.00" type="number" id="amount" placeholder="Enter Amount" class="form-control" name="amountFood">
                        </div>
                      </div>                  
                    <button id="submit" name="submit" class="btn btn-primary" value="submit">Submit</button>
                    <button id="submit" name="submit" class="btn btn-secondary" value="cancel">Cancel</button>
                  </div>
                </div> 
              </form>
            <% } %> 
            <% if (!foodBtn) { %>             
              <form align="right" action="/editbudget" method="post">
                   <button class="btn btn-info btn-sm" name="addItemBtn" type="submit" value="food">Add Item</button>
              </form><br>  
            <% } %>  
            <br/>            
            <br/>
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th colspan="2">Lifestyle</th>
                  <th class="text-right">Planned</th>

                </tr>
              </thead>
              <tbody>
                <% lifestyle.forEach( (lifestyle) => { %>
                    <tr>
                        <td colspan="2"><%=lifestyle.label%></td>
                        <td class="text-right"><%=lifestyle.amount%></td>
                    </tr>
                <% }); %>
              </tbody>
            </table>
           <% if (lifestyleBtn) {%>
              <form action='/additem' method='post'>            
                <div class="form-group">
                  <label class="col-md-4 control-label" for="submit"></label>
                  <div class="col-md-8">
                    <div id="incomeRow" class="row">
                        <div class="col">
                            <label>Label:</label> <input type="text" id="label" placeholder="Enter Label" class="form-control" name="labelLifestyle">
                        </div>
                        <div class="col">
                          <label>Amount:</label> <input min = "0.00" step="0.01" value="0.00" type="number" id="amount" placeholder="Enter Amount" class="form-control" name="amountLifestyle">
                        </div>
                      </div>                  
                    <button id="submit" name="submit" class="btn btn-primary" value="submit">Submit</button>
                    <button id="submit" name="submit" class="btn btn-secondary" value="cancel">Cancel</button>
                  </div>
                </div> 
              </form>
            <% } %> 
            <% if (!lifestyleBtn) { %>             
              <form align="right" action="/editbudget" method="post">
                   <button class="btn btn-info btn-sm" name="addItemBtn" type="submit" value="lifestyle">Add Item</button>
              </form><br>  
            <% } %>  
            <br/>
            <br/>
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th colspan="2">Insurance & Tax</th>
                  <th class="text-right">Planned</th>

                </tr>
              </thead>
              <tbody>
                <% insurance.forEach( (insurance) => { %>
                    <tr>
                        <td colspan="2"><%=insurance.label%></td>
                        <td class="text-right"><%=insurance.amount%></td>
                    </tr>
                <% }); %>
              </tbody>
            </table>
           <% if (insuranceBtn) {%>
              <form action='/additem' method='post'>            
                <div class="form-group">
                  <label class="col-md-4 control-label" for="submit"></label>
                  <div class="col-md-8">
                    <div id="incomeRow" class="row">
                        <div class="col">
                            <label>Label:</label> <input type="text" id="label" placeholder="Enter Label" class="form-control" name="labelInsurance">
                        </div>
                        <div class="col">
                          <label>Amount:</label> <input min = "0.00" step="0.01" value="0.00" type="number" id="amount" placeholder="Enter Amount" class="form-control" name="amountInsurance">
                        </div>
                      </div>                  
                    <button id="submit" name="submit" class="btn btn-primary" value="submit">Submit</button>
                    <button id="submit" name="submit" class="btn btn-secondary" value="cancel">Cancel</button>
                  </div>
                </div> 
              </form>
            <% } %> 
            <% if (!insuranceBtn) { %>             
              <form align="right" action="/editbudget" method="post">
                   <button class="btn btn-info btn-sm" name="addItemBtn" type="submit" value="insurance">Add Item</button>
              </form><br>  
            <% } %> 
            <br/>
            <br/>
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th colspan="2">Debt</th>
                  <th class="text-right">Planned</th>

                </tr>
              </thead>
              <tbody>
                <% debt.forEach( (debt) => { %>
                    <tr>
                        <td colspan="2"><%=debt.label%></td>
                        <td class="text-right"><%=debt.amount%></td>
                    </tr>
                <% }); %>
              </tbody>
            </table>
           <% if (debtBtn) {%>
              <form action='/additem' method='post'>            
                <div class="form-group">
                  <label class="col-md-4 control-label" for="submit"></label>
                  <div class="col-md-8">
                    <div id="incomeRow" class="row">
                        <div class="col">
                            <label>Label:</label> <input type="text" id="label" placeholder="Enter Label" class="form-control" name="labelDebt">
                        </div>
                        <div class="col">
                          <label>Amount:</label> <input min = "0.00" step="0.01" value="0.00" type="number" id="amount" placeholder="Enter Amount" class="form-control" name="amountDebt">
                        </div>
                      </div>                  
                    <button id="submit" name="submit" class="btn btn-primary" value="submit">Submit</button>
                    <button id="submit" name="submit" class="btn btn-secondary" value="cancel">Cancel</button>
                  </div>
                </div> 
              </form>
            <% } %> 
            <% if (!debtBtn) { %>             
              <form align="right" action="/editbudget" method="post">
                   <button class="btn btn-info btn-sm" name="addItemBtn" type="submit" value="debt">Add Item</button>
              </form><br>  
            <% } %> 
            <br/>
            <br/>
        </div>  
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>         
    </body>
</html>